.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background: lightgrey;
}

.container {
  width: 100%;
  padding: 1%;
}

h2 {
  text-align: center;
  color: coral;
  margin-top: 0;
  font-size: 2rem;
}

.todo-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background: white;
  padding: 1%;
}

.taskfalse {
  font-size: 1.2rem;
  margin: 1%;
  color: slategray;
}

.taskfalse span {
  cursor: pointer;
}

.taskfalse span:hover {
  cursor: pointer;
  color: coral;
}

.tasktrue {
  font-size: 1.2rem;
  margin: 1%;
  color: red;
  text-decoration: line-through;
  cursor: pointer;
}

.tasktrue span {
  cursor: pointer;
}

.todo-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: .5%;
}

.todo-form h4 {
  color: coral;
  text-align: center;
  margin: 0;
  font-size: 1.4rem;
}

.todo-form form {
  width: 80%;
  margin: 0 auto;
}

.todo-form form input {
  width: 100%;
  font-size: .8rem;
}

.buttons button {
  width: 45%;
  margin: 2.5%;
  font-size: .8rem;
  background: coral;
  color: white;
  border-radius: 10px;
}

.buttons button:hover {
  background: white;
  color: coral;
  cursor: pointer;
}